#Dados de conexão com banco de dados
DB_HOST = localhost
DB_PORT = 27017
DB_NAME = 
DB_USER = 
DB_PASS = 

#Dados de conexão com serviço de e-mail
MAIL_HOST = 
MAIL_PORT =
MAIL_USER = 
MAIL_PASS =

#Semente geradora de key para auth e tokens
SECRET_KEY = 